* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background-image: url('./images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-board {
    width: 95%;
    height: 95%;
    background: linear-gradient(90deg, #cccccc 50%, #ffffff 50%);
    display: grid;
    grid-template-columns: 10% 30% 20% 30% 10%;
    grid-template-rows: 15% 10% 20% 20% 20% 15%;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 100;
    word-spacing: 5px;
    color: #383838;
}

.new-game {
    grid-column: 3;
    grid-row: 1;
}

.bi{
    color: #fa5353;
}

.bi.bi-record-fill{
    display: none;
}

.bi.bi-record-fill.active{
    display: inline;
    font-size: 1.2rem;
}

.bi-arrow-repeat, .bi-box-arrow-in-down {
    font-size: 1.4rem;
}

.player1, .player2 {
    font-size: 2rem;
}

.player1 {
    grid-column: 2;
    grid-row: 2;
}

.player2 {
    grid-column: 4;
    grid-row: 2;
}

.player1-score, .player2-score {
    font-size: 5rem;
    color: #fa5353;
}

.player1-score {
    grid-column: 2;
    grid-row: 3;
}

.player2-score {
    grid-column: 4;
    grid-row: 3;
}

.dice {
    grid-column: 3;
    grid-row: 3;
    font-size: 6.4rem;
}

.dice-img {
    width: 100px;
    height: auto;
}

.player1-current {
    grid-column: 2;
    grid-row: 5;
}

.player2-current {
    grid-column: 4;
    grid-row: 5;
}

.player1-current, .player2-current {
    padding: 10px 30px;
    background-color: #fa5353;
    border-radius: 5px;
}

.current {
    color: #383838;
    font-weight: 300;
    font-size: 0.8rem;
}

.current-score {
    color: #ffffff;
    font-size: 1.4rem;
}

.game-options {
    grid-column: 3;
    grid-row: 5;
}




