* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  background-image: url("./images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*-- GAME BOARD --*/

.main-board {
  width: 90%;
  height: 90%;
  background: linear-gradient(90deg, #e7e7e7 50%, #ffffff 50%);
  display: grid;
  grid-template-columns: 10% 30% 20% 30% 10%;
  grid-template-rows: 15% 10% 20% 20% 20% 15%;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
  word-spacing: 5px;
  color: #383838;
  -webkit-box-shadow: 0px 0px 6px 2px #383838;
  box-shadow: 0px 0px 6px 2px #383838;
}

.new-game {
  grid-column: 3;
  grid-row: 1;
  font-size: 1.2rem;
}

.bi {
  color: #fa5353;
}

.bi.bi-plus-circle,
.bi.bi-arrow-repeat,
.bi.bi-box-arrow-in-down {
  cursor: pointer;
}

.bi.bi-record-fill {
  display: none;
  font-size: 1.4rem;
  margin: auto;
}

.bi.bi-record-fill.active {
  display: block;
}

.bi-arrow-repeat,
.bi-box-arrow-in-down {
  font-size: 1.6rem;
}

.player1 {
  grid-column: 2;
  grid-row: 2;
}

.player2 {
  grid-column: 4;
  grid-row: 2;
}

.player1,
.player2 {
  display: flex;
}

.name p {
  font-size: 2rem;
  margin: 0 10px 0 0;
}

.player-score {
  font-size: 5rem;
  color: #fa5353;
}

.player-score.one {
  grid-column: 2;
  grid-row: 3;
}

.player-score.two {
  grid-column: 4;
  grid-row: 3;
}

.dice {
  grid-column: 3;
  grid-row: 3;
}

.dice-img {
  width: 120px;
  height: auto;
}

.dice-img.animate {
  animation: 0.5s linear rolling;
  -webkit-animation: 0.5s linear rolling;
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player1-current {
  grid-column: 2;
  grid-row: 5;
}

.player2-current {
  grid-column: 4;
  grid-row: 5;
}

.player1-current,
.player2-current {
  padding: 10px 38px;
  background-color: #fa5353;
  border-radius: 5px;
}

.current {
  color: #383838;
  font-weight: 300;
  font-size: 0.9rem;
}

.current-score {
  color: #ffffff;
  font-size: 1.6rem;
}

.game-options {
  grid-column: 3;
  grid-row: 5;
}

.roll-dice,
.hold-dice {
  font-size: 1.2rem;
}

@media screen and (max-width: 680px) {
  .main-board {
    grid-template-columns: 33% 33% 33%;
  }

  .new-game {
    grid-column: 2;
  }

  .player1 {
    grid-column: 1;
  }

  .player2 {
    grid-column: 3;
  }

  .player-score.one {
    grid-column: 1;
  }

  .player-score.two {
    grid-column: 3;
  }

  .dice {
    grid-column: 2;
  }

  .player1-current {
    grid-column: 1;
  }

  .player2-current {
    grid-column: 3;
  }

  .game-options {
    grid-column: 2;
  }
}

@media screen and (max-width: 560px) {
  .name p {
    font-size: 1.4rem;
  }

  .player1-current,
  .player2-current {
    padding: 10px 28px;
  }
}

@media screen and (max-width: 460px) {
  .main-board {
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 15% 10% 15% 25% 30% 5%;
  }

  .dice {
    grid-column: 2;
    grid-row: 4;
  }

  .new-game {
    font-size: 1rem;
  }

  .bi.bi-plus-circle {
    font-size: 2.2rem;
  }

  .name p {
    font-size: 1.2rem;
  }

  .player-score {
    font-size: 4rem;
  }

  .player1-current,
  .player2-current {
    padding: 8px 20px;
  }

  .roll-dice,
  .hold-dice {
    font-size: 1rem;
  }

  .bi-arrow-repeat,
  .bi-box-arrow-in-down {
    font-size: 2.5rem;
  }
}

/*-- MODALS --*/

.choose-modal,
.win-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.choosePlayer,
.winner {
  width: 620px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  color: #5c5c5c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choosePlayer h1 {
  font-size: 1.8rem;
  text-transform: none;
  text-align: center;
}

#title {
  display: inline;
  color: #fa5353;
  text-transform: uppercase;
}

.choosePlayer h2 {
  font-size: 1.1rem;
  text-transform: none;
  font-weight: 300;
  text-align: center;
}

.labels-players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.label-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.label-player label {
  font-size: 1rem;
}

.choosePlayer input {
  width: 160px;
  padding-left: 5px;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #fa5353;
}

.choosePlayer input:focus {
  outline: none;
}

#modal-play,
#modal-newgame {
  padding: 10px 38px;
  background-color: #fa5353;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#modal-play {
  margin: 30px auto 0;
  text-align: center;
  font-size: 1.2rem;
}

.win-modal {
  display: none;
}

.winner {
  width: 480px;
  gap: 10px;
}

.bi.bi-x-square {
  color: #fa5353;
  align-self: flex-end;
  font-size: 1.8rem;
  cursor: pointer;
}

.winner h2 {
  color: #fa5353;
}

@media screen and (max-width: 768px) {
  .choosePlayer,
  .winner {
    width: 420px;
  }

  .labels-players {
    gap: 50px;
  }

  .choosePlayer input {
    width: 140px;
  }
}

@media screen and (max-width: 460px) {
  .choosePlayer,
  .winner {
    width: 300px;
  }

  .choosePlayer input {
    width: 100px;
  }

  #modal-play {
    width: 100%;
  }
}
